@import url(global.css);

/* ----- HEADER ----- */


.header-content {
    max-width: 1440px;
    height: 80px;
    margin: auto;
    padding: 18px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.header-center-content {

    display: flex;
    /* justify-content: center; */
    flex-grow: 1;
}

.header-navigation ul {
    list-style-type: none;

    display: flex;
    gap: 20px;
}

.header-navigation a {
    color: var(--grey);
    text-decoration: none;
    transition: 0.4s ease;
}

.header-navigation a:hover {
    color: var(--blue);
}

.header-right-content {
    display: flex;
    gap: 16px;
}

.button {
    text-decoration: none;
    border: 2px solid var(--blue);
    border-radius: 25px;
    padding: 5px 20px;
    align-self: flex-start;
}

.button.left {
    color: var(--blue);
    transition: 0.4s ease;
}

.button.left:hover {
    background-color: #b2ccff;
}

.button.right {
    color: var(--white);
    background-color: var(--blue);
    transition: 0.4s ease;
}

.button.right:hover {
    background-color: #0648ce;
}

/* ----- MAIN ----- */

.main-content {
    max-width: 1440px;
    margin: 0 auto;
    padding: 20px 18px;

    display: grid;
    grid-template-areas: 
        'transform transform-img'
        'organization-img organization-text'
    ;
    row-gap: 40px;
    column-gap: 40px;
}

#transform-section {
    grid-area: transform;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#transform-section span {
    color: var(--blue);
}

#transform-section-img {
    grid-area: transform-img;
}

#organizations-section-img {
    grid-area: organization-img;
}

#organizations-text-section {
    grid-area: organization-text;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

/* ----- FOOTER ----- */

footer {
    background-color: #f2f2f2;
}

.footer-content {
    max-width: 1440px;
    height: 140px;
    margin: auto;
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

/* ===== MEDIA ===== */

@media (max-width: 1250px) {
    .header-content {
        padding: 16px;
        flex-direction: column;
        gap: 14px;
    }

    .main-content {
        margin-top: 70px;
    }
}

@media (max-width: 768px) {
    

    .main-content {
        margin-top: 100px;
        display: grid;
        grid-template-areas: 
            'transform'
            'transform-img'
            'organization-img'
            'organization-text'
        ;
        row-gap: 40px;
        column-gap: 40px;
    }

    #transform-section {
        text-align: center;
    }

    #transform-section .button {
        align-self: center;
    }

    #organizations-text-section {
        text-align: center;
        padding-bottom: 40px;
    }

    #organizations-text-section .button {
        align-self: center;
    }
}